body {
    margin: 0px;
}

* {
    background-color:#4B5835;
    font-family: "Montserrat", sans-serif;
    letter-spacing: normal;
    text-indent: 0%;
    word-spacing: normal;
    text-indent: 0%;
}


h1::first-letter {
    color: #4B5835;
}


.color-white {
    background-color: rgba(255, 255, 255);
}

.color-yellow {
    background-color: #FFC107;
    color: #030F28;
}

.haarlem-photo {
    display: flex;
    width: 700px;
    grid-column: 3; 
    grid-row: 1;
    align-items:self-end;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
}



nav {
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    padding: 10px;
    height:fit-content;
    background-color: #FFC107;
}

.navbar a {
    color: white;
    background-color: #4B5835;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border: 2px solid transparent;
    margin: 10px;

}

.nav-links {
    background-color: #FFC107;
    display: flex;
    justify-content: flex-end;
    min-height: min-content;
    flex-wrap: wrap;
}

.navbar a:hover {
    background-color:#F5F5F5;
    color:#030F28; 
}


.navbar img {
    width: 70px;   
    height: 70px; 
    margin-left: 10px;  
    border-radius: 5px;
}

.navbar p {
    color:#030F28;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
}



header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    height: 600px;
    width: auto;
    background:url('../img/haarlem.jpg') LIGHTGRAY 50% / cover no-repeat;
}

.big-topic {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px; 
    width: auto;
}

.small-topic {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px; 
    width: auto;
}



.info {
    background-color: #f8f8f8; 
    color: #333; 
    padding: 40px; 
    margin: 40px auto;
    max-width: 800px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    line-height: 1.6;
    text-align: center;
    font-size: 20px;
}

/* little info about the website*/
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #4B5835;
    padding: 20px;
    padding-bottom: 50px;
    color: #F5F5F5;
   
}

.heading {
    display:flex;
    justify-content: center;
    font-size: 1.6rem;
}


#smallbox {
    display:flex;
    width: 500px;
    background-color: #FFC107;
    justify-content:center; 
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}

.heading {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.description-container {
    width: auto;
    height: auto;
    display: flex;
    background-color: #F5F5F5;
    align-items: center;
    justify-content: center;
    
}

.main1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: auto;
    background-color: #4B5835;
    padding: 30px;
    margin-bottom: 40px;
}



.item {
    width: auto;
    max-width: 450px;
    height: auto;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-self: center;
}

.start-container {
    display:flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

#start {
    display: flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #FFC107;
    border-radius: 10px;
    text-transform: uppercase;
}


/* images with buttons in the center*/
.main2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: auto;
    background-color: #4B5835;
    padding: 30px;

}


.grid-item {
    position: relative;
    overflow: hidden;
    height:500px;
}

.a {
    background: url('../img/jumbo.jpg') lightgray 50% / cover no-repeat;
}

.b{
    background: url('../img/zara.jpg') lightgray 50% / cover no-repeat;
}

.c{
    background: url('../img/delivery.jpg') lightgray 50% / cover no-repeat;
}

.d{
    background: url('../img/bar-photo.jpg') lightgray 50% / cover no-repeat;
}

.image-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#4B5835;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border-style:none;
    border-width: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    border:solid transparent;
    width: 250px;
    text-decoration: none;
    text-align: center;
}

.image-btn:hover {
    background-color:#F5F5F5; 
    color:#030F28; 
}

footer {
    height: 60px;
    background-color: #FFC107;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.policy-text {
    font-weight: bold;
}

.contact-btn {
    color: white;
    background-color:#4B5835; 
    text-decoration: none;
    padding: 12px 20px; 
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px; 
    margin-left: 10px; 
    border: 2px solid transparent; 
}

.contact-btn:hover {
    background-color:#F5F5F5; 
    color:#030F28; 
}

.contact-btn:visited {
    color: #FFC107;
}

.contact-btn:link {
    color: #F5F5F5;
}


#cookies-message {
    position:fixed; 
    bottom: 0; 
    width: 100%; 
    background-color:white; 
    color: #030F28; 
    text-align: center; 
    padding: 15px;
    z-index: 9999; 
    height: fit-content;
    width:fit-content;
    border-radius: 10px;
    margin: 10px;
  }
  
  #accept-cookies {
    margin-left: 20px;
    padding: 10px 15px;
    background-color: #4B5835;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }


@media screen and (max-width: 768px){
    *{
        margin: 0px;
    }
    
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: fit-content;
        width:100%;
        padding: 0px;
        padding-top: 10px;
    }

    .navbar img {
        width: 50px;
        height: 50px;
    }

    .navbar p {
        font-size: 15px;
        margin: 10px 0;
    }

    .navbar a {
        display: grid;
        font-size: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .nav-links {
        flex-direction: column;
        margin: 10px;
        height:max-content;
    }

    header {
        height:fit-content;
        width: 100%;
        height:max-content;
        display: flex;
        min-height: 200px;
    }

    .haarlem-photo {
        width: 100%;
        align-items:end;
        height:max-content;
    }

    .big-topic {
        font-size: 15px;
        height: min-content;
        width: fit-content;
        margin-bottom: 10px;
        padding: 10px;
    }

    .small-topic {
        font-size: 10px;
        padding: 10px;
    }

    .description-container {
        padding: 20px;
        font-size: 14px;
    }

    .heading {
        font-size: 15px;
        padding:10px;
        border-radius: 10px;
    }

    main1 {
        grid-template-columns: 1fr;
    }

    start {
        border-radius: 10px;
        height: auto;
        width: auto;
    }

    .start-text {
        font-size: 15px;
        padding: 10px;
    }

    .item {
        width: 80%;
        margin: 20px 0;
        font-size: 14px;
    }

    main2 {
        grid-template-columns: 1fr;
    }

    .grid-item {
        height: 300px;
    }

    .image-btn {
        font-size: 15px;
        width: 200px;
    }

    footer p {
        font-size: 10px;
    }

    .contact-btn {
        font-size: 12px;
        padding: 10px;
    }
}



